/*****************************************************************************/
/* 共通要素
/*****************************************************************************/
body{
	background-image: linear-gradient(90deg, #94b7be, #cfe7ea 10%, #d1dad7 85%, #b2c3c3);;
}
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	user-select: none;
	font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

.back{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100lvh;
	object-fit: cover;
	opacity: 0.7;
	z-index: -1;
}

.hidden{
	display: none !important;
}

.setting-btn{
	width: 250px;
	margin: 10px 20px;
	text-decoration: none;
	position: relative;
}

.setting-btn:active{
	transform: scale(0.95) translateY(3px);
}
.setting-btn span{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	text-align: center;
	font-size: 18px;
	font-weight: 900;
	color: white;
	text-shadow: 1px 1px 3px black;
}
.card-style{
	font-size: 14px;
	line-height: 22px;
	color: white;
	width: 150px;
	aspect-ratio: 3 / 4;
	border: 2px solid white;
	border-radius: 5px;
	text-align: center;
	box-shadow: 1px 1px 5px black;
	position: relative;
}
.card-style.is-small{
	font-size: 11px;
}
.card-style img{
	width: 100%;
}
.card-style div{
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: -5px;
	left: -5px;
	background-color: white;
	border-radius: 50%;
	font-size: 16px;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card-style .effect{
	font-size: 12px;
	line-height: 15px;
	width: 100%;
	padding: 0 3px;
	text-shadow: 1px 1px 3px black;
}
.card-style .type{
	font-size: 12px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	text-shadow: 1px 1px 3px black;
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 0 0 5px 5px;
}
.costDown{
	color: rgb(136, 181, 107) !important;
}
.gran-card{
	background-color: #5b80cc;
}
.djeeta-card{
	background-color: #cd7a89;
}
.common-card{
	background-color: #a1a1a1;
}
.abnormal-card{
	background-color: #676767;
}
.empty{
	opacity: 0.3;
}

.image-btn{
	position: relative;
	width: 200px;
}
.image-btn:active{
	transform: scale(0.95) translateY(3px);
}
.image-btn img{
	width: 100%;
}
.image-btn span{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	color: white;
	font-weight: 900;
	text-shadow: 1px 1px 3px black;
	text-align: center;
}
.fa-angles-right{
	color: white;
	font-size: 50px;
}
.upgrade{
	color: #92fc7a;
	font-weight: 600;
	text-shadow: 1px 1px 3px rgb(44, 44, 44), -1px -1px 3px rgb(44, 44, 44);
}
/*****************************************************************************/
/* main要素
/*****************************************************************************/
.main{
	width: 100%;
	max-width: 1100px;
	height: 100vh;
	position: relative;
	margin: 0 auto;
}
.game-logo{
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.game-logo img{
	width: 500px;
}
.start-btn-area{
	height: 100px;
	width: 100%;
	position: absolute;
	bottom: 100px;
	left: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(-50%);
	display: flex;
}

.start-btn-area a{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: 200px;
	height: 50px;
	margin: 0 10px;
}
.start-btn-area a:active{
	transform: scale(0.95) translate(0,2px);
}

.start-btn-area a span{
	position: absolute;
	color: white;
	font-size: 24px;
	font-weight: 900;
	text-shadow: 1px 1px 3px #895d34, -1px -1px 3px #895d34;
}

/*****************************************************************************/
/* select-modal: キャラセレクトモーダルの設定
/*****************************************************************************/
.select-modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0,0,0,0.5);
	visibility: hidden;
	transition: all .3s;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*モーダル本体に「active」クラス付与した時のスタイル*/
.select-modal.active{
	visibility: visible;
}
.select-modal-body{
	position: relative;
	width: 700px;
	height: 400px;
	background-image: linear-gradient(90deg, #94b7be, #cfe7ea 10%, #d1dad7 85%, #b2c3c3);;
	border: 3px solid #432d23;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2000;
}


.select-modal-title{
	width: 100%;
	height: 50px;
	font-size: 20px;
	font-weight: 900;
	color: white;
	background-color: #5e1917;
	display: flex;
	justify-content: center;
	align-items: center;

}
/*モーダル内のコンテンツの指定*/
.select-modal-content{
	width: 100%;
	height: calc(100% - 50px);

	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.select-chara-area{
	margin: 30px 0;
}
.select-chara-area img{
	border: 2px solid rgba(0, 0, 0, 0);
	margin: 0 30px;
	cursor: pointer;
}

.select-chara-area img:hover{
	border: 2px dotted white;
}
.select-chara-area img.select{
	border: 2px solid white;
}


.select-btn-area{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*****************************************************************************/
/* information-modal: Info用モーダルの設定
/*****************************************************************************/
.information-modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	visibility: hidden;
	transition: all .3s;
	box-sizing: border-box;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*モーダル本体に「active」クラス付与した時のスタイル*/
.information-modal.active{
	visibility: visible;
}

.information-modal-body{
	position: relative;
	width: 900px;
	height: 800px;
	background-color: #eee9d8;
	border: 3px solid #432d23;
	padding: 0 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2000;
}
.close-information-modal-btn{
	position: absolute;
	top: -2px;
	right: -2px;
	width: 30px;
	height: 30px;
	font-size: 24px;
	font-weight: 900;
	color: white;
	background-color: black;
	border: 2px solid #432d23;
	display: flex;
	justify-content: center;
	align-items: center;
}
.close-information-modal-btn:active{
	transform: scale(0.95);
}

.information-modal-body h1{
	width: 100%;
	text-align: left;
	line-height: 40px;
	margin-top: 20px;
}
.information-modal-body p{
	width: 100%;
	text-align: left;
	font-size: 24px;
}
.information-modal-body ul,
.information-modal-body ol{
	width: 100%;
	text-align: left;
	padding-left: 20px;
}
.information-modal-body ul li,
.information-modal-body ol li{
	text-align: left;
	font-size: 24px;
}

/*****************************************************************************/
/* header 要素
/*****************************************************************************/
header{
	position: fixed;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	background-color: #e4e1d6;
	z-index: 9999;
}
.header-space{
	width: 100%;
	height: 50px;
}
.header-area{
	width: 100%;
	max-width: 1100px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.status-area{
	height: 100%;
	display: flex;
	align-items: center;
}
.name-space{
	font-size: 24px;
	font-weight: 900;
	width: 100px;
}
.HP-space{
	font-size: 24px;
	font-weight: 900;
	color: #41a429;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 40px;

}
.HP-space img {
	width: 50px;
}
.money-space{
	font-size: 24px;
	font-weight: 900;
	color: #f4ca36;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 1px 1px 3px black;
}
.money-space img {
	width: 40px;
	margin-right: 10px;
}

.infomation-area{
	height: 100%;
	display: flex;
	align-items: center;
}
.deck-space{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.deck-space:active{
	transform: scale(0.9);
}
.deck-space img{
	width: 40px;
	margin-right: 10px;
}
.original-deck-count{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 20px;

	color: black;
	font-weight: 900;
	-webkit-text-stroke: 1px white;
}
/*****************************************************************************/
/* artifact-area: アーティファクト表示エリア要素
/*****************************************************************************/
.artifact-area{
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: -50px;
	left: 0;
	z-index: 2000;
	padding: 0 10px;
}
.artifact{
	width: 50px;
	height: 50px;
	position: relative;
}
.artifact img{
	width: 100%;
}
.artifact-modals{
	width: 200px;
	position: absolute;
	top: 0px;
	right: -205px;
	z-index: 3000;
}
.artifact-modal{
	width: 100%;
	font-size: 16px;
	font-weight: 500;
	color: white;
	background-image: radial-gradient(#e0bc82, #683113);
	border: 2px solid #d0bda5;
	padding: 2px 4px;
}
.artifact-modal p{
	font-weight: 900;
	color: #efc851;
}
/*****************************************************************************/
/* stage-area: ステージエリア要素
/*****************************************************************************/
.stage-area{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*****************************************************************************/
/* rest-area: 休憩エリア要素
/*****************************************************************************/
.rest-area{
	height: 500px;
	position: relative;
}
.rest-area>img {
	height: 100%;
}
.rest-area .player-character{
	height: 250px !important;
	position: absolute;
	bottom: -20px;
	left: 100px;
}
.heal-effect{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: radial-gradient(transparent, transparent 30%, #90f75d);
	opacity: 0;
}

/*****************************************************************************/
/* rest-area: 休憩エリア要素
/*****************************************************************************/
.shop-area{
	width: 1100px;
	position: relative;
	overflow: hidden;
}
.shop-area img {
	width: 100%;
}
.shop-area .back-effect{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
}
.shop-area .sierokarte-hukidashi{
	width: 500px;
	height: 115px;
	position: absolute;
	bottom: 300px;
	left: 50%;
	transform: translateX(-50%);
}
.hukidashi-text{
	width: 500px;
	height: 100px;
	position: absolute;
	bottom: 315px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.shop-area .sierokarte-character{
	width: 300px;
	position: absolute;
	bottom: -100px;
	left: 50%;
	transform: translateX(-50%);
}


/*****************************************************************************/
/* battle-area: バトルエリア要素
/*****************************************************************************/
.battle-area{
	width: 1100px;
	position: relative;
}
.battle-area>img {
	width: 100%;
}
.front-effect{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: radial-gradient(transparent, transparent 30%, #f75d5d);
	opacity: 0;
}



/*****************************************************************************/
/* player-status: プレイヤー情報要素
/*****************************************************************************/
.player-area{
	height: 250px;
	width: 316.67px;
	position: absolute;
	bottom: 30px;
	right: 50px;
}
.player-area-inner{
	width: 100%;
	height: 100%;
	position: relative;
}
.player-area-inner>img{
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
}
/* HPバーUI */
.player-hp{
	width: 70%;
	display: flex;
	position: absolute;
	bottom: 20px;
	right: 0px;
}
.player-hp-container {
	position: relative;
	width: 100%;
	height: 10px;
	background-color: rgba(0, 0, 0, 0.5); /* 減った分の背景色 */
	border-radius: 4px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.player-hp-container p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
	color: white;
	font-weight: 900;
	text-stroke: 1px #751f24;
	-webkit-text-stroke: 1px #751f24;
}
.player-hp-bar {
	height: 100%;
	background-color: #cc0c0c;
	border-radius: 4px;
	transition: width 0.3s ease;
}
.player-hp-container.block{
	border: 2px solid #eaffff;
}
.player-hp-container.block .player-hp-bar {
	background-color: #31568c;
}
/* ブロックUI */
.block-container{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	right: -10px;
	transform: translateY(-50%);
}
.block-inner{
	width: 100%;
	height: 100%;
	position: relative;
}
.block-container img{
	height: 100%;
}
.block-count{
	font-size: 12px;
	font-weight: 900;
	text-stroke: 1px white;
	-webkit-text-stroke: 1px white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* 状態変化UI */
.player-statuses{
	width: 70%;
	height: 30px;
	display: flex;
	position: absolute;
	bottom: -15px;
	right: 0px;
}
.player-status{
	width: 30px;
	height: 30px;
	position: relative;
}
.player-status img{
	height: 100%;
}
.player-status-amount{
	position: absolute;
	bottom: 2px;
	left: -2px;
	font-size: 12px;
	font-weight: 900;
	color: black;
	text-stroke: 1px white;
	-webkit-text-stroke: 1px white;

}
/* 状態変化情報UI */
.player-modals{
	position: absolute;
	top: 0;
	left: calc(-300px + 30%);
	width: 300px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}
.player-modal{
	width: 100%;
	height: auto;
	font-size: 16px;
	font-weight: 500;
	color: white;
	background-image: radial-gradient(#e0bc82, #683113);
	border: 2px solid #d0bda5;
	padding: 2px 4px;
}
.player-modal>p{
	font-weight: 900;
	color: #efc851;
	display: flex;
	align-items: center;
}
.player-modal>p>img{
	width: 30px;
	margin-left: 5px;
}
.player-modal>span{
	color: red;
	font-weight: 900;
	text-stroke: 1px white;
	-webkit-text-stroke: 1px white;
}
/* 状態変化 */
.player-abnormality{
	width: 250px;
	position: absolute;
	top: 0;
	left: 65%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
.player-abnormality img{
	width: 40px;
}
.player-abnormality p{
	font-size: 20px;
	font-weight: 900;
	text-stroke: 1px gray;
	-webkit-text-stroke: 1px gray;
}
.player-block{
	height: 100px !important;
	aspect-ratio: 1/1;
	position: absolute;
	top: 0;
	left: 65%;
	transform: translateX(-50%);
	opacity: 0;
}
/*****************************************************************************/
/* enemies-status: エネミー情報要素
/*****************************************************************************/
.enemies-area{
	height: 470px;
	width: 800px;
	position: absolute;
	bottom: 40px;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: end;
}
.enemy-area{
	margin: 0 10px;
	border: 1px dotted rgba(0, 0, 0, 0);
	position: relative;
	transition: opacity all 1.0s;
	opacity: 1;
}
.enemy-area.small{
	height: 222px;
	width: 180px;
}
.enemy-area.middle{
	height: 280px;
	width: 245px;
}
.enemy-area.tall{
	height: 350px;
	width: 320px;
}
.enemy-area.boss{
	height: 470px;
	width: 480px;
}
.defeated{
	opacity: 0;
}
.enemy-area:hover{
	border: 1px dotted white;
}
.enemy-area.select{
	border: 1px solid white;
}
.enemy-area>img{
	height: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
/* HPバー */
.enemy-hp-container {
	width: 100%;
	position: absolute;
	bottom: 5px;
	left: 0px;
	border-radius: 6px;
}
.enemy-hp-container-inner {
	position: relative;
	width: 100%;
	height: 8px;
	background-color: rgba(0, 0, 0, 0.5); /* 減った分の背景色 */
	border-radius: 4px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.enemy-hp-container p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
	color: white;
	font-weight: 900;
	text-stroke: 1px #751f24;
	-webkit-text-stroke: 1px #751f24;
}
.enemy-hp-bar {
	height: 100%;
	background-color: #cc0c0c; /* 現在のHPの色（例：緑） */
	border-radius: 4px;
	transition: width 0.3s ease; /* HPが減る時のアニメーション */
}
.enemy-hp-container.block{
	border: 2px solid #eaffff;
}
.enemy-hp-container.block .enemy-hp-bar {
	background-color: #31568c;
}
/* ブロックUI */
.enemy-block-container{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	right: -10px;
	transform: translateY(-50%);
}
.enemy-block-inner{
	width: 100%;
	height: 100%;
	position: relative;
}
.enemy-block-container img{
	height: 100%;
}
.enemy-block-count{
	font-size: 12px;
	font-weight: 900;
	text-stroke: 1px white;
	-webkit-text-stroke: 1px white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* 状態変化UI */
.statuses{
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: -30px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: flex-start;
}
.status{
	width: 30px;
	height: 30px;
	position: relative;
}
.status img{
	height: 100%;
}
.amount{
	position: absolute;
	bottom: 2px;
	left: -2px;
	font-size: 12px;
	font-weight: 900;
	color: black;
	text-stroke: 1px white;
	-webkit-text-stroke: 1px white;

}

/* 予兆・状態変化モーダルUI */
.enemy-modals{
	position: absolute;
	top: 0;
	right: -305px;
	width: 300px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}
.enemy-modal{
	width: 100%;
	height: auto;
	font-size: 16px;
	font-weight: 500;
	color: white;
	background-image: radial-gradient(#e0bc82, #683113);
	border: 2px solid #d0bda5;
	padding: 2px 4px;
}
.enemy-modal>p{
	font-weight: 900;
	color: #efc851;
	display: flex;
	align-items: center;
}
.enemy-modal>p>img{
	width: 30px;
	margin-left: 5px;
}
.enemy-modal>span{
	color: red;
	font-weight: 900;
	text-stroke: 1px white;
	-webkit-text-stroke: 1px white;
}

/* 予兆UI */
.omen{
	width: 50px;
	height: 50px;
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translateX(-50%);
}
.omen-inner{
	width: 100%;
	height: 100%;
	position: relative;
}
.omen-inner img{
	width: 100%;
	z-index: -1;
}
.damage{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #bd2b12;
	font-size: 22px;
	font-weight: 900;
	text-stroke: 1px white;
	-webkit-text-stroke: 1px white;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* 状態変化 */
.abnormality{
	width: 250px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
.abnormality img{
	width: 40px;
}
.abnormality p{
	font-size: 20px;
	font-weight: 900;
	text-stroke: 1px gray;
	-webkit-text-stroke: 1px gray;
}
.enemy-block{
	height: 100px !important;
	aspect-ratio: 1/1;
	position: absolute;
	top: 0;
	left: 50% !important;
	transform: translateX(-50%);
	opacity: 0;
}
/*****************************************************************************/
/* show-area: カード表示エリア要素
/*****************************************************************************/
.show-area{
	width: 900px;
	height: 200px;
	position: absolute;
	bottom: 40px;
	left: 0px;
}
.show-area-inner{
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*****************************************************************************/
/* info-area: インフォメーション要素
/*****************************************************************************/
.info-area{
	width: 100%;
	max-width: 1100px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

/*****************************************************************************/
/* left-area: info-areaの左部分の要素
/*****************************************************************************/
.left-area{
	width: 50px;
}
/*****************************************************************************/
/* energy-area: エネルギーカウントの要素
/*****************************************************************************/
.energy-area{
	width: 50px;
	position: relative;
}
.energy-area img{
	width: 100%;
	z-index: -1;
}
.energy-count{
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 22px;
	font-weight: 900;
	text-stroke: 1px white;
	-webkit-text-stroke: 1px white;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/*****************************************************************************/
/* deck-area: エネルギーカウントの要素
/*****************************************************************************/
.deck-area{
	width: 50px;
	aspect-ratio: 114 / 176;
	margin-top: 5px;
	margin-right: 5px;
	position: relative;
}
.deck-area img{
	width: 100%;
	z-index: -1;
}
.deck-count{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	color: black;
	font-size: 20px;
	font-weight: 900;
	background-color: #a71b1c;
	border-radius: 50%;
	text-stroke: 1px white;
	-webkit-text-stroke: 1px white;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}



/*****************************************************************************/
/* hand-area: 手札の要素
/*****************************************************************************/
.hand-area{
	width: calc(100% - 50px - 120px - 50px - 5px);
	height: 200px;
	margin-left: 5px;
	margin-right: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.hand-area.front{
	z-index: 3001;
}
.hand-card{
	font-size: 14px;
	width: 150px;
	border-radius: 5px;
	margin-right: -3rem;
}
.hand-card:hover{
	transform: translateY(-30px);
	z-index: 1000;
}
.hand-card.select{
	transform: translateY(-30px);
	background-color: rgba(254, 197, 105);
	box-shadow: 1px 1px 5px red;
}
.hand-card.is-small{
	font-size: 11px;
}
.hand-card.available{
	box-shadow: -5px -5px 15px 5px rgb(112, 253, 24), 5px 5px 15px 7px rgb(112, 253, 24) !important;
}
.hand-card p{
	font-size: 14px;
}
.hand-card p .down{
	color: #ff6563;
}
.hand-card p .up{
	color: #ffce63;
}
.is-hover-disabled {
	/* is-hover-disabled クラスが付与されたときはホバー処理を打ち消す */
	pointer-events: none; 
}

/*****************************************************************************/
/* right-area: デッキの要素
/*****************************************************************************/
.right-area{
	width: 120px;
}

/*****************************************************************************/
/* end-btn: ターン終了ボタンの要素
/*****************************************************************************/
.end-btn{
	position: relative;
	width: 120px;
}
.end-btn:active{
	transform: scale(0.95) translateY(3px);
}
.end-btn img{
	width: 100%;
}
.end-btn span{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 16px;
	color: white;
	font-weight: 900;
	text-align: center;
}

/*****************************************************************************/
/* trash-area: 捨て札の要素
/*****************************************************************************/
.trash{
	display: flex;
	justify-content: flex-end;
}

.trash-area{
	width: 50px;
	aspect-ratio: 7 / 10;
	margin-top: 10px;
	position: relative;
}
.trash-area img{
	width: 100%;
	z-index: -1;
}
.trash-count{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 47%;
	left: 47%;
	transform: translate(-50%, -50%);
	width: 35px;
	height: 35px;
	color: black;
	font-size: 20px;
	font-weight: 900;
	background-color: black;
	border-radius: 50%;
	text-stroke: 1px white;
	-webkit-text-stroke: 1px white;
	margin: 0 2px;
}
/*****************************************************************************/
/* discard-area: 捨て札の要素
/*****************************************************************************/
.discard{
	display: flex;
	justify-content: flex-end;
}

.discard-area{
	width: 50px;
	margin-top: 10px;
	position: relative;
}
.discard-area img{
	width: 100%;
	z-index: -1;
}
.discard-count{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 47%;
	left: 47%;
	transform: translate(-50%, -50%);
	width: 35px;
	height: 35px;
	color: black;
	font-size: 20px;
	font-weight: 900;
	text-stroke: 1px white;
	-webkit-text-stroke: 1px white;
	margin: 0 2px;
}
/*****************************************************************************/
/* talk-area: 会話の要素
/*****************************************************************************/
.talk-wrapper-area{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.talk-area{
	width: 100%;
	max-width: 1100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	transition: all 0.5s ease;
}
.talking-btn{
	width: 450px;
	margin: 5px 5px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.talking-btn img{
	width: 100%;
}
.talking-btn:active{
	transform: scale(0.95) translateY(3px);
}
.talking-btn span{
	width: 100%;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -60%);
	text-align: center;
	font-size: 18px;
	font-weight: 900;
	color: white;
	text-shadow: 1px 1px 3px black;
}

/*****************************************************************************/
/* black-back-area: 黒背景の要素
/*****************************************************************************/
.black-back-area{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0,0,0,0.8);
	visibility: hidden;
	opacity: 0;
	z-index: 3000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.black-back-area.active{
	visibility: visible;
	opacity: 1;
}

/*****************************************************************************/
/* hand-decide-area: 手札を捨てるカード選択
/*****************************************************************************/
.hand-decide-area{
	width: 100%;
	height: 100%;
	display:none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 50px;
	padding-top: 50px;
}
.hand-decide-area.active{
	display:flex
}
.hand-decide-title{
	font-size: 28px;
	color: white;
	font-weight: 900;
	text-stroke: 1px gray;
	-webkit-text-stroke: 1px gray;
}
.hand-enhance-area{
	width: 925px;
	height: 400px;
	overflow-y: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*****************************************************************************/
/* return-decide-area: カード選択エリア
/*****************************************************************************/
.return-decide-area{
	width: 100%;
	height: 100%;
	margin-top: 50px;
	display:none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.return-decide-area.active{
	display:flex
}
.return-decide-title{
	font-size: 28px;
	color: white;
	font-weight: 900;
	text-stroke: 1px gray;
	-webkit-text-stroke: 1px gray;
}
/*****************************************************************************/
/* return-decide-area: ショップの商品選択エリア
/*****************************************************************************/
.shop-buy-area{
	width: 100%;
	height: 100%;
	display:none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
.shop-buy-area.active{
	display:flex;
	animation-duration: 0.5s;
	animation-name: fade-in;
}
.shop-modal-body{
	position: relative;
	width: 1050px;
	height: 700px;
	background-color: #eee9d8;
	border: 3px solid #432d23;
	padding: 50px 5px;
	z-index: 2000;

	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 2px;
}
.top-row{
	grid-row: 1/2;
}
.bottom-row{
	grid-row: 2/3;
}
.shop-modal-body>div{
	width: 100%;
	height: 100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.shop-modal-body>.card-lineup:hover{
	transform: scale(1.3);
}
.purchased{
	visibility:hidden;
}
.shop-price{
	font-size: 20px;
	font-weight: 900;
	color: white;
	text-shadow: 1px 1px 3px black;
	text-stroke: 1px gray;
	-webkit-text-stroke: 1px gray;
	width: 100%;
	height: 40px;
	display:flex;
	justify-content: center;
	align-items: center;
}
.shop-price>img{
	width: 20px;
	margin: 0 5px;
}
.shop-discount{
	color: #7dcb4b;
}
.shop-shortage{
	color: rgb(255, 50, 50);
}
.artifact-position{
	width: 100%;
	height: 100%;
	grid-column: 3/5;
	grid-row: 2/3;
}
.artifact-wrapper{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 2px;
}
.artifact-wrapper>div{
	width: 100%;
	height: 100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.shop-artifact{
}
.delete-position{
	grid-column: 5/6;
	grid-row: 2/3;

	position: relative;
}
.delete-position:active{
	transform: scale(0.9);
}
.delete-image{
	width: 100px;
}
.delete-hukidashi{
	width: 100%;
	height: 48px;
	position: absolute;
	top: 0px;
	left: 0;
}
.delete-hukidashi-text{
	width: 100%;
	height: 48px;
	position: absolute;
	top: 0px;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.delete-area{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 40px 0px;
	padding: 0 50px;
	text-align: center;
	background: rgba(0, 0, 0, 0.8);
	visibility: hidden;
	overflow: auto;
	opacity: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 9000;
}
.delete-area.active{
	visibility: visible;
	opacity: 1;
}
.delete-modal-body{
	max-width: 1100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}
.delete-modal-body>div{
	margin: 10px 16px;
}
.delete-title{
	font-size: 28px;
	color: white;
	font-weight: 900;
	text-stroke: 1px gray;
	-webkit-text-stroke: 1px gray;
}
.delete-btn-area{
	display: flex;
	justify-content: center;
	align-items: center;
}
.delete-btn-area>div{
	margin: 10px 20px;
}
.shop-card{

}
.shop-card.select{
	background-color: rgba(254, 197, 105);
	box-shadow: 1px 1px 5px red;
}
/*****************************************************************************/
/* enhance-area: 黒背景の要素
/*****************************************************************************/
.enhance-area{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 50px;
	display:none;
	z-index: 3000;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.enhance-area.active{
	display:flex
}
.enhance-title{
	font-size: 28px;
	color: white;
	font-weight: 900;
	text-stroke: 1px gray;
	-webkit-text-stroke: 1px gray;
}

/* enhance-content */
.enhance-content{
	width: 100%;
	max-width: 1100px;
	height: 700px;
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: start;
}
.enhance-card{
	font-size: 15px;
	width: 165px;
	margin: 10px 7px;
	border-radius: 10px;
}
.enhance-card.select{
	background-color: rgba(254, 197, 105);
	box-shadow: 1px 1px 5px red;
}
.enhance-card.is-small{
	font-size: 12px;
}
.enhance-card:hover{
	transform: scale(1.1);
}
.enhance-card p{
	font-size: 12px;
}
/* enhance-decide-content */
.enhance-decide-content{
	width: 925px;
	height: 400px;
	overflow-y: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.enhance-decide-card{
	font-size: 20px;
	line-height: 25px;
	color: white;
	width: 240px;
	margin: 10px 10px;
	aspect-ratio: 3 / 4;
	border: 2px solid white;
	border-radius: 10px;
	text-align: center;
	box-shadow: 1px 1px 5px black;
	position: relative;
}
.enhance-decide-card.is-small{
	font-size: 16px;
}
.enhance-decide-card img{
	width: 100%;
}
.enhance-decide-card div{
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: white;
	border-radius: 50%;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.enhance-decide-card .effect{
	font-size: 20px;
	line-height: 22px;
	width: 100%;
	padding: 0 5px;
}
.enhance-decide-card .type{
	font-size: 18px;
}
/* enhance-btn-area */
.enhance-btn-area{
	visibility: hidden;
	opacity: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.enhance-btn-area.active{
	visibility: visible;
	opacity: 1;
}
.enhance-btn-area .image-btn{
	margin: 0 10px;
}
/*****************************************************************************/
/* map-modal: マップ表示モーダルの要素
/*****************************************************************************/
.map-modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	visibility: hidden;
	transition: all .3s;
	box-sizing: border-box;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	animation-duration: 0.3s;
	animation-name: fade-out;
}

/*モーダル本体に「active」クラス付与した時のスタイル*/
.map-modal.active{
	visibility: visible;
	animation-duration: 0.3s;
	animation-name: fade-in;
}

.map-modal-body{
	position: relative;
	width: 900px;
	height: 800px;
	background-color: #eee9d8;
	border: 3px solid #432d23;
	padding: 0 5px;
	z-index: 2000;
	overflow-y: scroll;
	
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(16, 80px);
	gap: 2px;
	padding-bottom: 300px;
}
.stage{
	display: flex;
	justify-content: center;
	align-items: center;
}
.stage.choices{
	box-shadow: -5px -5px 15px 5px rgb(112, 253, 24), 5px 5px 15px 7px rgb(112, 253, 24) !important;
}
.stage img{
	width: 100%;
}
@keyframes fade-in {
	0% {
		visibility: hidden;
		opacity: 0;
	}

	50% {
		visibility: visible;
		opacity: 0.5;
	}

	100% {
		visibility: visible;
		opacity: 1;
	}
}
@keyframes fade-out {
	0% {
		visibility: visible;
		opacity: 1;
	}

	50% {
		visibility: visible;
		opacity: 0.5;
	}

	100% {
		visibility: hidden;
		opacity: 0;
	}
}
/*****************************************************************************/
/* result-modal: 戦闘結果の要素
/*****************************************************************************/
.result-modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0,0,0,0.8);
	padding: 40px 20px;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3000;
	animation-duration: 0.3s;
	animation-name: fade-out;
}

/*モーダル本体に「active」クラス付与した時のスタイル*/
.result-modal.active{
	visibility: visible;
	opacity: 1;
	animation-duration: 0.3s;
	animation-name: fade-in;
}

.result-modal-body{
	position: relative;
	width: 500px;
	height: 80vh;
	background-color: #eee9d8;
	border: 3px solid #432d23;
	z-index: 2000;
}
.result-title{
	width: 100%;
	height: 60px;
	font-size: 40px;
	font-weight: 900;
	text-stroke: 2px gray;
	-webkit-text-stroke: 2px gray;
	color: white;
	background-color: #5e1917;
	display: flex;
	justify-content: center;
	align-items: center;
}
.result-content{
	width: 100%;
	height: calc(100% - 60px - 90px);
	padding: 30px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.reward{
	margin: 10px auto;
	height: 60px;
	width: 450px;
	display: flex;
	align-items: center;
	background-color: #8b887d;
	border-radius: 5px;
}
.reward:hover{
	background-color: #8b846a;
}
.reward img{
	height: 50%;
	margin-left: 20px;
	margin-right: 20px;

}
.reward p{
	color: white;
	font-size: 20px;
	font-weight: 900;
	text-shadow: 1px 1px 3px black;
	text-stroke: 1px gray;
	-webkit-text-stroke: 1px gray;
}
.reward:hover p{
	color: #e5c150;
}
.skip{
	width: 100%;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.skip-btn{
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.skip-btn:active{
	transform: scale(0.95) translate(0,2px);
}
.skip-btn img{
	width: 100%;
}
.skip-btn p{
	color: white;
	font-size: 20px;
	font-weight: 900;
	text-shadow: 1px 1px 3px black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.card-select{
	width: 900px;
	height: 600px;
}
.card-select-title{
	width: 100%;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 40px;
	color: white;
	text-stroke: 1px gray;
	-webkit-text-stroke: 1px gray;

}

.select-cards-area{
	width: 100%;
	height: calc(100% - 90px - 90px);
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.select-card{
	font-size: 18px;
	line-height: 25px;
	width: 210px;
	height: 280px;
	border-radius: 10px;
}
.select-card:hover{
	transform: scale(1.3);
}

.select-card p{
	font-size: 16px;
}
.select-card .effect{
	font-size: 18px;
	line-height: 22px;
}


.select-skip{
	width: 100%;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.select-skip-btn{
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.select-skip-btn:active{
	transform: scale(0.95) translate(0,2px);
}
.select-skip-btn img{
	width: 100%;
}
.select-skip-btn p{
	color: white;
	font-size: 20px;
	font-weight: 900;
	text-shadow: 1px 1px 3px black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

/*****************************************************************************/
/* list-back-area: カード表示エリア
/*****************************************************************************/
.list-back-area{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0,0,0,0.8);
	visibility: hidden;
	opacity: 0;
	z-index: 4000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.list-back-area.active{
	visibility: visible;
	opacity: 1;
}

.list-area{
	width: 100%;
	height: 100%;
	display:none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.list-area.active{
	display:flex
}
.list-title{
	font-size: 28px;
	color: white;
	font-weight: 900;
	text-stroke: 1px gray;
	-webkit-text-stroke: 1px gray;
}
.card-list{
	width: 100%;
	max-width: 1100px;
	height: 700px;
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: start;
}